$shake-intensity: 1%;

$colour-primary: #299ec2;//#579c87
$colour-secondary: #fdcb46;

$colour-card: (
enchantee: #fcdfdb,
alafrancaise: #fff5fe,
papilles: #f9f9f9,
gout: #fdfffd
);

$colour-text-alafrancaise: (
    first-title: #e38a12,
    first: #c77412,
    secund: #a56799,
    third: #6e4ccc,
    last-title: #8f5aff
);

$colour-text-papilles: (
    first: #0228dd,
    secund: #0670f3,
    third: #229df9
);

$colour-text-gout: (
    first: #41963c,
    secund: #80cb5e,
    third: #beff7f
);